<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="home">
      <header class="home-header">
        <h1>Welcome to the Security Demo</h1>
      </header>
      <div class="home-container">
        <button onclick="location.href='/sensitive-data-exposure'">
          Sensitive Data Exposure
        </button>
        <button onclick="location.href='/xss'">XSS Demo</button>
      </div>
    </div>
  </body>
</html>
